:root {
  --spritesheet: url("../../assets/images/spritesheet.png");
}

.nav-container {
  background: linear-gradient(92.41deg, rgb(0, 61, 50), rgb(4, 115, 75));
}

.first-nav {
  background-color: rgb(19, 25, 33);
  background: linear-gradient(92.41deg, rgb(0, 61, 50), rgb(4, 115, 75));
}

.logo {
  background-image: var(--spritesheet);
  background-position-x: -237px;
  background-position-y: -295px;
  background-repeat: repeat-x;
  height: 34px;
  width: 98px;
}

.location-icon {
  background-image: var(--spritesheet);
  background-position-x: -71px;
  background-position-y: -378px;
  background-repeat: repeat-x;
  height: 18px;
  width: 15px;
  margin-top: 8px;
}

.seacher-all {
  background-color: #e6e6e6;
  background-image: none;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border: 1px solid #cdcdcd;
  border-radius: 4px 0 0 4px;
}

.searcher-arrow {
  position: absolute;
  top: 14px;
  right: 8px;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-top: 4px solid #666;
  border-bottom-width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.search-icon {
  background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB541706272_.png);
  background-position: -82px -158px;
  width: 44px;
  height: 42px;
  display: flex;
  flex: 1 1 auto;
  white-space: nowrap;
  cursor: pointer;
}

.nav-lang-icon {
  background-image: url(https://m.media-amazon.com/images/S/sash/Z8YwjOjqIHxqujG.png);
  background-position: 0 -130px;
  width: 24px;
  height: 18px;
  transform: scale(0.9);
  margin: 0 2px 1px 0;
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-lang-arrow-icon {
  visibility: visible;
  margin: 6px 0 0 2px;
  display: flex;
  align-items: center;
  padding: 0;
  border-top-color: #a7acb2;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-top: 4px solid #606060;
  border-bottom-width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  color: #fff;
  font-weight: 700;
}
