:root {
  --spritesheet: url("../../assets/images/spritesheet.png");
}

.logo {
  background-image: var(--spritesheet);
  background-position-x: -9px;
  background-position-y: -125px;
  background-repeat: repeat-x;
  height: 34px;
  width: 98px;
}
.logo-in {
  font-family: "AmazonEmber";
  font-weight: 300;
}
.location-icon {
  background-image: var(--spritesheet);
  background-position-x: -71px;
  background-position-y: -378px;
  background-repeat: repeat-x;
  height: 18px;
  width: 15px;
  margin-top: 8px;
}
/* .delivery-pin {
  font-family: "AmazonEmber";
  font-weight: 300;
} */

.nav-search-icon {
  background-image: var(--spritesheet);
  background-position-x: 2px;
  background-position-y: -280px;
  background-repeat: repeat-x;
  height: 40px;
  width: 45px;
}

.india-flag {
  background-image: url(https://m.media-amazon.com/images/S/sash/Z8YwjOjqIHxqujG.png);
  background-position-x: 0px;
  background-position-y: -166px;
  height: 18px;
  width: 24px;
  transform: scale(0.9);
}

.nav-cart-icon {
  background-image: var(--spritesheet);
  background-position-x: -10px;
  background-position-y: -340px;
  height: 26px;
  width: 38px;
}
